<div class="container">
  <div class="row">
    <div class="col-md-12">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div formGroupName="userData">
          <div>
            <label for="username"> Username </label>
            <input
              class="form-control"
              id="username"
              formControlName="username"
            />
            <div
              class="help-block"
              *ngIf="
                form.controls['userData'].controls['username'].errors &&
                form.controls['userData'].controls['username'].touched
              "
            >
              <span
                *ngIf="
                  form.controls['userData'].controls['username'].errors[
                    'required'
                  ]
                "
              >
                This field is required</span
              >
              <span
                *ngIf="
                  form.controls['userData'].controls['username'].errors[
                    'nameIsRestricted'
                  ]
                "
                >Please enter a valid username</span
              >
              <span
                *ngIf="
                  form.controls['userData'].controls['username'].errors[
                    'trimError'
                  ]
                "
                >{{
                  form.controls["userData"].controls["username"].errors[
                    "trimError"
                  ].value
                }}</span
              >
            </div>
          </div>
          <div>
            <label for="email">Email</label>
            <input class="form-control" id="email" formControlName="email" />
            <div
              class="help-block"
              *ngIf="
                form.controls['userData'].controls['email'].touched &&
                form.controls['userData'].controls['email'].errors
              "
            >
              <span
                *ngIf="
                  form.controls['userData'].controls['email'].errors['required']
                "
                >Please enter a valid email</span
              >
              <span
                *ngIf="
                  form.controls['userData'].controls['email'].errors[
                    'restrictedEmail'
                  ]
                "
              >
                This email is restricted
              </span>
            </div>
          </div>
        </div>
        <div class="form-check my-2">
          <div *ngFor="let data of gender; let i = index">
            <input
              class="form-check-input"
              type="radio"
              formControlName="gender"
              id="{{ data }}"
              [value]="data"
            />
            <label class="form-check-label ms-2" for="{{ data }}">
              {{ data }}
            </label>
          </div>
          <div
            class="help-block"
            *ngIf="
              form.controls['gender'].invalid && form.controls['gender'].touched
            "
          >
            Please select a vlid gender
          </div>
        </div>
        <div formArrayName="hobbies">
          <div
            *ngFor="
              let hob of form.controls['hobbies']?.controls;
              let i = index
            "
          >
            <input type="text" [formControlName]="i" class="form-control" />
            <div
              class="help-block"
              *ngIf="
                form.get(['hobbies', i])?.invalid &&
                form.get(['hobbies', i])?.touched
              "
            >
              Please select a vlid gender
            </div>
          </div>
        </div>
        <div>
          <button class="btn btn-sm btn-warning my-3" (click)="onAddHobbies()">
            Add Hobbies
          </button>
        </div>
        <div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
